.hamburger-header{
    display: flex;
    justify-content: space-around;
}

.humburger-header__reg{
    display: flex;
    margin-left: auto;
}
.humburger-header__backet{
    margin-left: auto;
    margin-right: 20px;
}

.hamburger-header__icon-conteiner{
    display: flex;
    align-items: center;

}
